.page {
  margin: auto;
  width: 880px;
  min-width: 320px;
}

@media screen and (max-width: 960px) {
  .page {
    width: 655px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    width: 480px;
  }
}

@media screen and (max-width: 550px) {
  .page {
    width: 100vw;
  }
}