.card__like-button {
  background-image: url('../images/like-button.svg');
  background-position: center;
  background-repeat: none;
  background-size: contain;
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  outline: none;
}