.card {
  border-radius: 10px;
  width: 100%;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  margin: 0;
  transition: box-shadow 0.5s linear;
}

.card:hover {
  box-shadow: 1px 1px 2px black, 0 0 2em white;
}

@media screen and (max-width: 960px) {
  .card {
    border-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(282px*1.5);
  }
}

@media screen and (max-width: 550px) {
  .card {
    border-radius: 10px;
    width: 282px;
  }
}
